﻿@model List<PersonalProfile.Core.EntityModels.ConocimientoTecnico>
@{
    ViewBag.Title = "ConocimientosTecnicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Conocimientos Tecnicos
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Catalogos</a></li>
        <li class="active">Conocimientos Tecnicos</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Conocimientos Tecnicos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" id="btn_agregar">@PersonalProfile.Admin.Resources.Resource.Btn_Add</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" id="tbl_Conocimientos" style="width:100%">
                    <thead>
                        <tr>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_Skills_Technology</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_Skills_TypeTechnology</td>
                            <td>Accion</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.nombre</td>
                                <td>@i.tipoTecnologia.nombre</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat">Action</button>
                                        <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><button class="btn_editar btn btn-primary" value="@i.ConocimientoTecnicoID" data-id="@i.ConocimientoTecnicoID">Editar</button></li>
                                            <li><button class="btn_eliminar btn btn-danger" value="@i.ConocimientoTecnicoID" data-id="@i.ConocimientoTecnicoID">Eliminar</button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_SetCatalogo")
@Html.Partial("_MsjRespuesta")

@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddSkill';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditSkill';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="~/Scripts/Pages/CatalogosJS.js"></script>
}