﻿@model PersonalProfile.Core.Models.Response
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Catalogos</a></li>
        <li class="active">Contacto</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Contacto</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" id="btn_agregar">Agregar Nuevo</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" id="tbl_idiomas" style="width:100%">
                    <thead>
                        <tr>
                            <td>Idioma</td>
                            <td>Accion</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.nombre</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat">Action</button>
                                        <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><button class="btn_editar btn btn-primary" value="@i.IdiomasID" data-id="@i.IdiomasID" data-name="@i.nombre">Editar</button></li>
                                            <li><button class="btn_eliminar btn btn-danger" value="@i.IdiomasID" data-id="@i.IdiomasID">Eliminar</button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_SetCatalogo")
@Html.Partial("_MsjRespuesta")
@Html.Partial("_SetIdiomas")

