﻿
@{
                /**/

                ViewBag.Title = "Proyectos";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Proyectos Experiencia
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Proyectos</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Proyectos Tecnologia-  @ViewBag.nombre</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" onclick="SetProyectoExperiencia('','')" value="">
                        @PersonalProfile.Admin.Resources.Resource.Btn_Add
                    </button>
                </div>
            </div>
            <input type="hidden" id="proyectosID" value="@ViewBag.proyectosID" />
            <input type="hidden" id="experienciaLaboralID" value="@ViewBag.experienciaLaboralID " />
            <input type="hidden" id="idUsuario" value="@ViewBag.idUsuario" />
            <input type="hidden" id="UsuarioExperienciaLaboralID" value="@ViewBag.UsuarioExperienciaLaboralID " />
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tbl_proyectoExperiencia">
                    <thead>
                        <tr>
                            <th>@PersonalProfile.Admin.Resources.Resource.Text_Project</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                @Html.ActionLink("Regresar", "UsuarioProyectos", "Usuario", null, new { @class = "btn btn-block btn-primary" })
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


@Html.Partial("_SetProyectoExperiencia")
@Html.Partial("_MsjRespuesta")
@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddUserProjects';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditUserProjects';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="@Links.Scripts.Pages.UsuarioExperienciaLaboralJS_js"></script>
}

