﻿
<section class="resume-section reference-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled resume-awards-list">
            <li class="mb-2 pl-4 position-relative">
                <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                <div class="resume-award-name">Award Name Lorem</div>
                <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</div>
            </li>
            <li class="mb-0 pl-4 position-relative">
                <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                <div class="resume-award-name">Award Name Ipsum</div>
                <div class="resume-award-desc">Award desc goes here, ultricies nec, pellentesque.</div>
            </li>
        </ul>
    </div>
</section><!--//interests-section-->
