﻿@model List<PersonalProfile.Core.Domain.FormacionAcademicaDto>

<section class="resume-section education-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            @foreach (var i in Model)
            {
                <li class="mb-2">
                    <div class="resume-degree font-weight-bold">@i.fac_carrera</div>
                    @{var titulo = (i.fac_titulo == 1) ? "Titulado" : "No Titulado";}
                    <div class="resume-degree">@titulo</div>
                    <div class="resume-degree-org">@i.fac_institucion</div>
                    <div class="resume-degree-time">@i.fac_anioingresao - @i.fac_aniofinalizo</div>
                </li>
            }
        </ul>
    </div>
</section><!--//education-section-->
