﻿@model PersonalProfile.Core.Domain.UsuarioDto

<header class="resume-header pt-4 pt-md-0">
    <div class="media flex-column flex-md-row">
        @*<img class="mr-3 img-fluid picture mx-auto" src="@Model.usu_imagen" alt="">*@
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
            <div class="primary-info">
                <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">@Model.usu_nombre @Model.usu_apellidopaterno</h1>
                <div class="title mb-3">@Model.usu_perfil</div>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="mailto:@Model.usu_correo"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>@Model.usu_correo</a></li>
                    <li><a href="tel:@Model.usu_telefono"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>@Model.usu_telefono</a></li>
                </ul>
            </div><!--//primary-info-->
            <div class="secondary-info ml-md-auto mt-2">
                <ul class="resume-social list-unstyled">
                    <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/stevedoe</a></li>
                    <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/username</a></li>
                    <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/username/</a></li>
                    <li><a href="#"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>yourwebsite.com</a></li>
                </ul>
            </div><!--//secondary-info-->

        </div><!--//media-body-->
    </div><!--//media-->
</header>
