﻿
<section class="resume-section interests-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            <li class="mb-1">Climbing</li>
            <li class="mb-1">Snowboarding</li>
            <li class="mb-1">Cooking</li>
        </ul>
    </div>
</section><!--//interests-section-->
