﻿@model List<PersonalProfile.Core.Domain.IdiomasDto>

<section class="resume-section language-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled resume-lang-list">
            @foreach (var i in Model)
            {
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">@i.idi_nombre</span> <small class="text-muted font-weight-normal"></small></li>
            }
        </ul>
    </div>
</section><!--//language-section-->
