﻿@model List<PersonalProfile.Core.Domain.ConocimientoTecnicoDto>

<section class="resume-section skills-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; Tools</h2>
    <div class="resume-section-content">

        @{
            var lstFrontEnd = Model.Where(x => x.tipo_tecnologia == 1).ToList();
            var lstBackEnd = Model.Where(x => x.tipo_tecnologia == 2).ToList();
            var lstOtherEnd = Model.Where(x => x.tipo_tecnologia == 3).ToList();
        }

        <!--Front-->
        <div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
            <ul class="list-unstyled mb-4 skillsFront">               
                @foreach (var i in lstFrontEnd)
                {
                    <li class="mb-2">
                        <div class="resume-skill-name">@i.tct_nombre</div>
                        <div class="progress resume-progress">
                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: @i.rel_nivel%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                }
            </ul>
        </div><!--//resume-skill-item-->


        <!--Back-->
        <div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
            <ul class="list-unstyled">
                @foreach (var i in lstBackEnd)
                {
                    <li class="mb-2">
                        <div class="resume-skill-name">@i.tct_nombre</div>
                        <div class="progress resume-progress">
                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: @i.rel_nivel%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                }
            </ul>
        </div><!--//resume-skill-item-->


        <!--Others-->
        <div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Others</h4>
            <ul class="list-inline">

                @foreach (var i in lstOtherEnd)
                {
                    <li class="list-inline-item"><span class="badge badge-light">@i.tct_nombre</span></li>
                }

                @*<li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>*@
                @*<li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Wireframing</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Sketch</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li>
                <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Shopify</span></li>*@
            </ul>
        </div><!--//resume-skill-item-->

         
        <!--Front-->
        @*<div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
            <ul class="list-unstyled mb-4">
                <li class="mb-2">
                    <div class="resume-skill-name">Angular</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>*@<!--//resume-skill-item-->
        <!--Back-->
        @*<div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <div class="resume-skill-name">Python/Django</div>
                    <div class="progress resume-progress">
                        <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>*@<!--//resume-skill-item-->
        <!--Others-->
        @*<div class="resume-skill-item">
            <h4 class="resume-skills-cat font-weight-bold">Others</h4>
            <ul class="list-inline">
                <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Wireframing</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Sketch</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li>
                <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
                <li class="list-inline-item"><span class="badge badge-light">Shopify</span></li>
            </ul>
        </div>*@<!--//resume-skill-item-->
    </div><!--resume-section-content-->
</section><!--//skills-section-->
