﻿@model List<PersonalProfile.Core.Domain.ExperienciaLaboralDto>

<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
        @if(Model.Count>0 && Model != null)
        {
            foreach (var i in Model)
            {
                <article class="resume-timeline-item position-relative pb-5">

                    <div class="resume-timeline-item-header mb-2">
                        <div class="d-flex flex-column flex-md-row">
                            <h3 class="resume-position-title font-weight-bold mb-1">@i.ela_nombrepuesto</h3>
                            <div class="resume-company-name ml-auto">@i.ela_nombreempresa</div>
                        </div><!--//row-->
                        @{ 
                            var fechaSalida = (i.actual == 1) ? "Actualmente" : i.ela_fechasalida.Value.ToString("MM/yyyy");
                        }
                        <div class="resume-position-time">@i.ela_fechaingresao.ToString("MM/yyyy") - @fechaSalida</div>
                    </div><!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                        <p>@i.ela_actividad</p>
                        @if (i.proyectos.Count > 0 && i.proyectos != null)
                        {
                            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Proyectos:</h4>
                            @*<p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>*@
                            <ul>
                                @foreach (var p in i.proyectos)
                                {
                                    <li><b>@p.pro_nombre:</b> @p.pro_descripcionproyecto</li>
                                    foreach (var t in p.tecnologia)
                                    {
                                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">@t.tct_nombre</span></li>
                                    }
                                }
                            </ul>
                            @*<h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                                <ul class="list-inline">
                                    @foreach (var p in i.proyectos)
                                    {
                                        foreach (var t in p.tecnologia)
                                        {
                                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">@t.tct_nombre</span></li>
                                        }
                                    }
                                </ul>*@
                        }
                    </div><!--//resume-timeline-item-desc-->
                </article><!--//resume-timeline-item-->
            }
        }   
        </div><!--//resume-timeline-->
    </div>
</section><!--//experience-section-->
