﻿@model PersonalProfile.Core.Domain.UsuarioDto
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Header", Model)

<div class="resume-body p-5">
    @Html.Partial("_Summary", Model)
    <div class="row">
        <div class="col-lg-9">
            @Html.Partial("_WorkExperience", Model.experienciaLaboral)
        </div>
        <div class="col-lg-3">
            @Html.Partial("_Skills", Model.conocimiento)
            @Html.Partial("_Education", Model.formacionAcademica)
            @Html.Partial("_Awards")
            @Html.Partial("_Language", Model.idiomas)
            @Html.Partial("_Interests")

        </div>
    </div><!--//row-->
</div><!--//resume-body-->

