﻿
@{
                /**/

                ViewBag.Title = "ProyectoTecnologia";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li><a href="#">Proyectos</a></li>
        <li class="active">Tecnologia</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Proyecto @ViewBag.nombreProyecto</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary btn_agregarProyectoTecnologia" onclick="SetProyectoTecnologia('','')" value="">
                        @PersonalProfile.Admin.Resources.Resource.Btn_Add
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        @Html.ActionLink("Regresar", "UsuarioProyectos", "Usuario", null, new { @class = "btn btn-primary" })
                        <button type="button" class="btn btn-primary btn_agregarProyectoTecnologia" onclick="SetProyectoTecnologia('','')" value="">
                            @PersonalProfile.Admin.Resources.Resource.Btn_Add
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden" id="proyectosID" value="@ViewBag.proyectosID" />
            <input type="hidden" id="UsuarioProyectosID" value="@ViewBag.UsuarioProyectosID" />
            <input type="hidden" id="idUsuario" value="@ViewBag.idUsuario" />
            <input type="hidden" id="ProyectoTecnologiaID" value="" />
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tbl_proyectoTecnologia" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_Skills_Technology</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

@Html.Partial("_SetProyectoTecnologia")
@Html.Partial("_MsjRespuesta")
@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddProjectTechnology';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditProjectTechnology';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="@Links.Scripts.Pages.ProyectoTecnologiaJS_js"></script>
    <script src="@Links.Scripts.Pages.CatalogosJS_js"></script>
}

