﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">@PersonalProfile.Admin.Resources.Resource.Title_Login</p>

        <form action="@Url.Action("LogIn","Usuario")" method="post" id="form_login">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="@PersonalProfile.Admin.Resources.Resource.Placeholder_Email.ToString()"
                       name="correo" id="correo"
                       data-validation="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="@PersonalProfile.Admin.Resources.Resource.Placeholder_Password"
                       name="contrasenia" id="contrasenia"
                       data-validation="strength"
                       data-validation-strength="2">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                                <input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                            </div> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">@PersonalProfile.Admin.Resources.Resource.Btn_SignIn</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-flat" id="btn_changeSpanish" data-lng="es-MX">
                    <img src="~/Images/mx.png" height="20" width="30"/>
                    <span id="tag_spanish">Español</span>
                </a>
                <a href="#" class="btn btn-block btn-social btn-flat" id="btn_changeEnglish" data-lng="en-US">
                    <img src="~/Images/us.png" height="20" width="30"/>
                    <span id="tag_english">Ingles</span>
                </a>
            </div>
        <!-- /.social-auth-links -->

        <a href="#">I forgot my password</a><br>
        <a href="@Url.Action("RegistrarUsuario", "Usuario")" class="text-center">@PersonalProfile.Admin.Resources.Resource.Text_NewUser</a>
 

    </div>
    <!-- /.login-box-body -->
</div>

@Html.Partial("_MsjRespuesta")

@section scripts{
    <script src="~/Scripts/Pages/LanguagesSettingsJS.js"></script>
    <script src="@Links.Scripts.Pages.UsuariosJS_js"></script>

}