﻿@model PersonalProfile.Core.EntityModels.Usuario
@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">@PersonalProfile.Admin.Resources.Resource.Title_Register</p>

        <form action="@Url.Action("PostUsuarioNuevo", "Usuario")" method="post" id="form_usuarioRegistro">
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.nombre, new
           {
               @class = "form-control",
               placeholder = @PersonalProfile.Admin.Resources.Resource.Text_UserName,
               @data_validation = "required",
               @data_validation_length = "5-25"
           })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.apellidoPaterno, new
           {
               @class = "form-control",
               placeholder = @PersonalProfile.Admin.Resources.Resource.Text_UserMiddleName,
               @data_validation = "required",
               @data_validation_length = "5-25"
           })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.apellidoMaterno, new
           {
               @class = "form-control",
               placeholder = @PersonalProfile.Admin.Resources.Resource.Text_UserLastName,
               @data_validation = "required",
               @data_validation_length = "5-25"
           })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.correo, new
           {
               @class = "form-control",
               placeholder = @PersonalProfile.Admin.Resources.Resource.Placeholder_Email,
               onKeyUp = "return validarCorreo(this.value,'.error_correo',this.id)",
               data_correoValido = "0",
               @data_validation = "email",
               @data_validation_length = "5-50"
           })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="error_correo"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(x => x.contrasenia, new
           {
               @class = "form-control",
               placeholder = @PersonalProfile.Admin.Resources.Resource.Text_UserPassword,
               onKeyUp = "return validarContrasenia(this.value,'.error_contrasenia',this.id)",
               maxlength = 15,
               data_contraseniaValida = "0",
               @data_validation = "strength",
               @data_validation_length = "5-25",
               @data_validation_strength = "2"
           })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span> 
                <span class="text-info">La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.NO puede tener otros símbolos.</span><br />
                <span class="error_contrasenia"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="confirmarContrasenia" placeholder="@PersonalProfile.Admin.Resources.Resource.Text_ConfirmPassword" 
                       onkeyup = "return validarConfirmarContrasenia(this.value, '.error_contraseniaConfirmar', this.id)" maxlength = "15" 
                       data-contraseniaConfirmarValida = "0" data-validation="confirmation"/>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span class="text-info">La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.NO puede tener otros símbolos.</span><br />
                <span class="error_contraseniaConfirmar"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x => x.perfil, new
           {
               @class = "form-control",
               placeholder = @PersonalProfile.Admin.Resources.Resource.Text_UserProfile,
               @data_validation = "required",
               @data_validation_length = "5-50"
           })
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">@PersonalProfile.Admin.Resources.Resource.Btn_Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign up using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign up using
                Google+
            </a>
        </div>*@

        <a href="@Url.Action("Login", "Usuario")" class="text-center">@PersonalProfile.Admin.Resources.Resource.Text_UserAccount</a>
    </div>
    <!-- /.form-box -->
</div>

@Html.Partial("_MsjRespuesta")

@section scripts{
    <script src="@Links.Scripts.Pages.ValidacionesJS_js"></script>
    <script src="@Links.Scripts.Pages.UsuariosJS_js"></script>
}