﻿
@{
    ViewBag.Title = "TimeOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@PersonalProfile.Admin.Resources.Resource.Title_TimeOut</h3>
        </div>
        <div class="box-body">
            @PersonalProfile.Admin.Resources.Resource.Text_TimeOut
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>

@section scripts{
    <script>
        $(function () {
            setTimeout(function () {
                window.location.href = "/Usuario/Login";
            }, 5000);
        });
    </script>
}