﻿@model PersonalProfile.Core.EntityModels.Usuario
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Usuario</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">@PersonalProfile.Admin.Resources.Resource.Title_User_MenuOption_Personal_Information</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form" action="@Url.Action("PutUsuario", "Usuario")" method="post" id="form_editarUsuario" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.UsuarioID)           
                    <div class="col-md-12">
                        <div class="col-md-4">                           
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserProfile</label>
                                @Html.TextBoxFor(m => m.perfil, new
                           {
                               @class = "form-control",
                               onKeyPress = "return soloLetras(event);",
                               maxlength = 50,
                               @data_validation = "required"
                           })
                                <span class="error_perfil"></span>
                            </div>
                            <img src="@Model.imagen" class="img-thumbnail">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info btn-block" id="btn_viewProfile" data-url="@ViewBag.UrlResume">
                                    @PersonalProfile.Admin.Resources.Resource.Text_ShowProfile
                                </button>
                                @*<a href="@ViewBag.UrlResume" class="text-info" target="_blank">Ir a CV</a>*@
                            </div>
                            <input type="hidden" value="@Model.imagen" id="imagen" name="imagen" />
                            <br />
                            <div class="col-md-12">
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <input id="file" type="file" name="file" multiple="" onchange="return validarArchivo()" accept="image/jpg, image/jpeg">
                                    <span class="error_imagen"></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserName</label>
                                @Html.TextBoxFor(m => m.nombre, new
                           {
                               @class = "form-control",
                               onKeyPress = "return soloLetras(event);",
                               maxlength = 25,
                               @data_validation = "required",
                               @data_validation_length = "1-25"
                           })
                                <span class="error_nombre"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserMiddleName</label>
                                @Html.TextBoxFor(m => m.apellidoPaterno, new
                           {
                               @class = "form-control",
                               onKeyPress = "return soloLetras(event);",
                               maxlength = 25,
                               @data_validation = "required",
                               @data_validation_length = "1-25"
                           })
                                <span class="error_apaterno"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserLastName</label>
                                @Html.TextBoxFor(m => m.apellidoMaterno, new
                           {
                               @class = "form-control",
                               onKeyPress = "return soloLetras(event);",
                               maxlength = 25,
                               @data_validation = "required",
                               @data_validation_length = "1-25"
                           })
                                <span class="error_materno"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserPassword</label>
                                @Html.PasswordFor(m => m.contrasenia, new
                           {
                               @class = "form-control",
                               @Value = Model.contrasenia,
                               onKeyUp = "return validarContrasenia(this.value,'.error_contrasenia')",
                               maxlength = 15,
                               data_contraseniaValida = "0",
                               @data_validation = "required",
                               @data_validation_length = "1-25"
                           })
                                <span class="text-info">La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.NO puede tener otros símbolos.</span><br />
                                <span class="error_contrasenia"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Placeholder_Email</label>
                                @Html.TextBoxFor(m => m.correo, new
                           {
                               @class = "form-control",
                               maxlength = 50,
                               onKeyUp = "return validarCorreo(this.value,'.error_correo')",
                               data_correoValido = "0",
                               disabled = "disabled",
                               @data_validation = "email",
                               @data_validation_length = "1-25"
                           })
                                <span class="error_correo"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserPhone</label>
                                @Html.TextBoxFor(m => m.telefono, new
                           {
                               @class = "form-control",
                               onKeyPress = "return SoloNumeros(event);",
                               maxlength = 10,
                               @data_validation = "required",
                               @data_validation_length = "10"
                           })
                                <span class="error_telefono"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserBirthdate</label>
                                <div class="input-group date" data-provide="datepicker">
                                    @Html.TextBoxFor(m => m.fechaNacimiento, Model.fechaNacimiento.Value.ToString("dd/MM/yyyy"), new
                               {
                                   @class = "form-control dateMask",
                                   id = "fch_nacimiento",
                                   data_inputmask = "'alias': 'dd/mm/yyyy'",
                                   data_mask = "",
                                   @data_validation = "required",
                                   @data_validation_format = "dd/mm/yyyy"
                               })
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserAddress</label>
                                @Html.TextBoxFor(m => m.direccion, new
                           {
                               @class = "form-control",
                               maxlength = 100,
                               @data_validation = "required",
                               @data_validation_length = "1-100"
                           })
                            </div>

                            <div class="form-group col-md-12">
                                <label>@PersonalProfile.Admin.Resources.Resource.Text_UserDirection</label>
                                @Html.TextAreaFor(m => m.descripcion, new
                           {
                               @class = "form-control",
                               maxlength = 500,
                               @data_validation = "required",
                               @data_validation_length = "1-500"
                           })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn-success btn" value="@PersonalProfile.Admin.Resources.Resource.Btn_Save"/>
                            </div>
                        </div> 
                    </div>                     
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


@Html.Partial("_SetCatalogo")
@Html.Partial("_MsjRespuesta")
@Html.Partial("_MsjImagePreview")
@Html.Partial("_ViewProfile")

<style>
    #imgProfile {
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>


@section scripts{
    <script src="@Links.Scripts.Pages.UsuariosJS_js"></script>
}


