﻿@model List<PersonalProfile.Core.EntityModels.UsuarioIdioma>
@{
                /**/

                ViewBag.Title = "UsuarioIdiomas";
                Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Idiomas</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">@PersonalProfile.Admin.Resources.Resource.Title_User_MenuOption_Language</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" id="btn_agregar">@PersonalProfile.Admin.Resources.Resource.Btn_Add</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" id="tbl_Idioma" style="width:100%">
                    <thead>
                        <tr>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserLanguage_Language</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.idiomas.nombre</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat">Action</button>
                                        <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><button class="btn_editarUsuarioIdiomas btn btn-default btn-block" 
                                                        value="@i.UsuarioIdiomaID" 
                                                        data-id="@i.UsuarioIdiomaID" 
                                                        data-ididioma="@i.idiomasID" 
                                                        data-nivel="@i.nivel">
                                                @PersonalProfile.Admin.Resources.Resource.Btn_Edit
                                                </button></li>
                                            <li><button class="btn_eliminarUsuarioIdiomas btn btn-default btn-block" 
                                                        value="@i.UsuarioIdiomaID" 
                                                        data-id="@i.UsuarioIdiomaID">
                                                @PersonalProfile.Admin.Resources.Resource.Btn_Delete
                                                </button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

@Html.Partial("_SetUsuarioIdioma")
@Html.Partial("_MsjRespuesta")
@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddUserLanguages';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditUserLanguages';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="@Links.Scripts.Pages.UsuarioIdiomasJS_js"></script>
}
