﻿@model List<PersonalProfile.Core.EntityModels.UsuarioExperienciaLaboral>
@{
    ViewBag.Title = "UsuarioExperienciaLaboral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Experiencia Laboral</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">@PersonalProfile.Admin.Resources.Resource.Title_User_MenuOption_WorkExperience</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" onclick="SetExperienciaLaboral(0,0)">@PersonalProfile.Admin.Resources.Resource.Btn_Add</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" id="tbl_Experiencia" style="width:100%">
                    <thead>
                        <tr>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_Company</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_Position</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_StartDate</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_EndDate</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_CurrentJob</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.experienciaLaboral.nombreEmpresa</td>
                                <td>@i.experienciaLaboral.nombrePuesto</td>
                                <td>@i.experienciaLaboral.fechaIngreso.ToShortDateString()</td>
                                @{
                                    var fechaSalida = (i.experienciaLaboral.fechaSalida.HasValue) ? i.experienciaLaboral.fechaSalida.Value.ToShortDateString() : "";
                                }
                                <td>@fechaSalida</td>
                                @{
                                    var actual = (i.experienciaLaboral.actual == 1) ? "Si" : "No";
                                }
                                <td>@actual</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat">Action</button>
                                        <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <button class="btn_editarUsuarioExperiencia btn btn-default btn-block"
                                                        onclick="SetExperienciaLaboral(@i.experienciaLaboralID,@i.UsuarioExperienciaLaboralID)">
                                                    @PersonalProfile.Admin.Resources.Resource.Btn_Edit
                                                </button>
                                            </li>
                                            <li>@Html.ActionLink(@PersonalProfile.Admin.Resources.Resource.Btn_AddProject, "Proyectos", "ExperienciaLaboral", new
                                           {
                                               experienciaLaboralID = @i.experienciaLaboralID,
                                               UsuarioExperienciaLaboralID = @i.UsuarioExperienciaLaboralID,
                                               nombre = @i.experienciaLaboral.nombreEmpresa
                                           },
                                            new { @class = "btn btn-default" })
                                            </li>
                                            <li>
                                                <button class="btn_eliminarUsuarioExperiencia btn btn-default btn-block" value="@i.UsuarioExperienciaLaboralID">
                                                    @PersonalProfile.Admin.Resources.Resource.Btn_Delete
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

@Html.Partial("_SetUsuarioExperienciaLaboral")
@Html.Partial("_SetProyectoExperiencia")
@Html.Partial("_MsjRespuesta")
@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddUserExperience';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditUserExperience';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="@Links.Scripts.Pages.UsuarioExperienciaLaboralJS_js"></script>
}