﻿@model List<PersonalProfile.Core.EntityModels.UsuarioFormacionAcademica>
@{
                /**/

                ViewBag.Title = "UsuarioFormacionAcademica";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Formación Academica</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">@PersonalProfile.Admin.Resources.Resource.Title_User_MenuOption_Education</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" onclick="SetFormacionAcademica(0,0)">@PersonalProfile.Admin.Resources.Resource.Btn_Add</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" id="tbl_Formacion" style="width:100%">
                    <thead>
                        <tr>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_Institution</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_Career</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_StartYear</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_EndYear</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_Title</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.formacionAcademica.instituto</td>
                                <td>@i.formacionAcademica.carrera</td>
                                <td>@i.formacionAcademica.anioIngreso</td>
                                <td>@i.formacionAcademica.anioSalida</td>
                                <td>@i.formacionAcademica.titulo</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat">Action</button>
                                        <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><button class="btn_editarUsuarioFormacion btn btn-default btn-block" 
                                                        onclick="SetFormacionAcademica(@i.UsuarioFormacionAcademicaID,@i.formacionAcademicaID)">
                                                @PersonalProfile.Admin.Resources.Resource.Btn_Edit
                                                </button></li>
                                            <li><button class="btn_eliminarUsuarioFormacion btn btn-default btn-block" 
                                                        value="@i.UsuarioFormacionAcademicaID">
                                                @PersonalProfile.Admin.Resources.Resource.Btn_Delete
                                                </button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


@Html.Partial("_SetUsuarioFormacionAcademica")
@Html.Partial("_MsjRespuesta")
@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddUserEducation';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditUserEducation';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="@Links.Scripts.Pages.UsuarioFormacionAcademicaJS_js"></script>
}



