﻿@model List<PersonalProfile.Core.EntityModels.UsuarioConocimiento>
@{
    ViewBag.Title = "UsuarioConocimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuario</a></li>
        <li class="active">Conocimientos</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">@PersonalProfile.Admin.Resources.Resource.Title_User_MenuOption_Skill</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-block btn-primary" id="btn_agregar">@PersonalProfile.Admin.Resources.Resource.Btn_Add</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered" id="tbl_Conocimientos" style="width:100%">
                    <thead>
                        <tr>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserSkill_Skill</td>
                            <td>@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserSkill_Level</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.conocimientoTecnico.nombre</td>
                                <td>@i.nivel</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-flat">Action</button>
                                        <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><button class="btn_editarUsuarioConocimiento btn btn-default btn-block" value="@i.UsuarioConocimientoID" data-id="@i.UsuarioConocimientoID">Editar</button></li>
                                            <li><button class="btn_eliminarUsuarioConocimiento btn btn-default btn-block" value="@i.UsuarioConocimientoID" data-id="@i.UsuarioConocimientoID">Eliminar</button></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


@Html.Partial("_SetUsuarioConocimiento")
@Html.Partial("_MsjRespuesta")

@section scripts{
    <script>
        var msgAdd = '@PersonalProfile.Admin.Resources.Resource.Title_Modal_AddUserSkills';
        var msgEdit='@PersonalProfile.Admin.Resources.Resource.Title_Modal_EditUserSkills';
        var urlDataTable = '@PersonalProfile.Admin.Resources.Resource.Tbl_Body_Datatable';
    </script>
    <script src="@Links.Scripts.Pages.UsuarioConocimientosJS_js"></script>  
}


