﻿<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="msjProyectoTecnologia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="proyectosID"/>
                <input type="hidden" id="UsuarioProyectosID" />
                <table id="tbl_proyectoTecnologia">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary" id="btn-Ok">Aceptar</button>*@
            </div>
        </div>
    </div>
</div>

