﻿<!-- Modal -->
<div class="modal fade" id="msjRespuesta" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="texto"></p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>*@
                <button type="button" class="btn btn-primary" id="btn-Ok">@PersonalProfile.Admin.Resources.Resource.Btn_Accept</button>
            </div>
        </div>
    </div>
</div>
