﻿<!-- Modal -->
<div class="modal fade" id="msjLoading" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Espere un momento</h5>   
            </div>
            <div class="modal-body">
                <center>
                    <img src="~/Images/loagind.gif" width="100" />
                </center>
            </div>
            <div class="modal-footer">  
            </div>
        </div>
    </div>
</div>
