﻿<!-- Modal -->
<div class="modal fade" id="modalTecnologia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostTecnologia", "Catalogos")" method="post" id="form_setUsuarioConocimiento">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleTecnologia"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">                  
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="TecnologiaID" id="TecnologiaID" value="" />
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_Skills_Technology</label>
                                <input type="text" class="form-control" name="tecnologia" id="tecnologia" onKeyPress="return soloLetras(event);" 
                                       data-validation="required"  data-validation-length="10-100"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary" id="btn_guardar">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

