﻿
<!-- Modal -->
<div class="modal fade" id="modalUsuarioIdioma" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostUsuarioIdiomas", "Usuario")" method="post" id="form_setUsuarioIdiomas">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleUsuarioIdiomas"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="UsuarioIdiomaID" value=""/>
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserLanguage_Language</label>
                                <select class="form-control" id="idiomas" name="idiomas" data-validation="required">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserSkill_Level</label>
                                <input type="text" class="form-control" id="nivel" data-validation="number" data-validation-length="1-3"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary" id="btn_guardar">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
