﻿<!-- Modal -->
<div class="modal fade" id="modalIdiomas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostIdioma","Catalogos")" method="post" id="form_SetIdioma">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleIdiomas"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="IdiomasID" />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Text_UserName</label>
                                <input type="text" id="idioma" class="form-control" onKeyPress = "return soloLetras(event);"
                                       data-validation="required"  data-validation-length="3-25"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
