﻿<!-- Modal -->
<div class="modal fade" id="modalCatalogo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostConocimientosTecnicos","Catalogos")" method="post" id="form_setConocimiento">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleCatalogos"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="id" />
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Text_UserName</label>
                                <input class="form-control" id="nombre" placeholder="nombre" type="text" maxlength="40"
                                       data-validation="required" data-validation-length="3-40" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1"@PersonalProfile.Admin.Resources.Resource.Tbl_Head_Skills_TypeTechnology</label>
                                <select class="form-control" id="TipoTecnologia" data-validation="required">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary" id="btn_guardar">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>     
        </div>
    </div>
</div>