﻿<!-- Modal -->
<div class="modal fade" id="modalUsuarioProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostUsuarioProyectos", "Usuario")" method="@FormMethod.Post" id="form_setUsuarioProyecto">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleUsuarioProyecto"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="UsuarioID" value="@ViewBag.IdUser"/>
                                <input type="hidden" id="UsuarioProyectosID" value=""/>
                                <input type="hidden" id="ProyectosID" value="0"/>
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Text_UserName</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" onKeyPress = "return soloLetras(event);" maxlength="40"
                                       data-validation="required" data-validation-length="5-40"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Text_Description</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" maxlength="300"
                                          data-validation="required" data-validation-length="10-300"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_Company</label>
                                <select class="form-control" id="experiencia" data-validation="required">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

