﻿<!-- Modal -->
<div class="modal fade" id="modalUsuarioExperiencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostUsuarioExperienciaLaboral", "Usuario")" method="@FormMethod.Post" id="form_setUsuarioExperienciaLaboral">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleUsuarioExperienciaLaboral"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="UsuarioExperienciaLaboralID" value=""/>
                                <input type="hidden" id="ExperienciaLaboralID" value=""/>
                                <input type="hidden" id="usuarioID" value="@ViewBag.IdUser"/>
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_Company</label>
                                <input type="text" name="nombreEmpresa" id="nombreEmpresa" class="form-control" 
                                       onKeyPress = "return soloLetras(event);" maxlength="40" data-validation="required" data-validation-length="3-40"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_Position</label>
                                <input type="text" name="nombrePuesto" id="nombrePuesto" class="form-control" 
                                       onKeyPress = "return soloLetras(event);" maxlength="40" data-validation="required" data-validation-length="3-40"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="id" />
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_StartDate</label>
                                <input type="text" name="fechaIngreso" id="fechaIngreso" class="form-control dateMask datepicker" 
                                       data-validation="required" data-validation-format = "dd/mm/yyyy"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_EndDate</label>
                                <input type="text" name="fechaSalida" id="fechaSalida" class="form-control dateMask datepicker" 
                                       data-validation="required" data-validation-format = "dd/mm/yyyy"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_Activities</label>
                                <textarea id="actividad" name="actividad" class="form-control"
                                          data-validation="required" data-validation-length="10-1000"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserExperience_CurrentJob</label>
                                <input type="checkbox" id="actual" name="actual" data-validation="checkbox_group" data-validation-qty="min1"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary" id="btn_guardar">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

