﻿<!-- Modal -->
<div class="modal fade" id="modalProyectoTecnologia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostProyectoTecnologia","Usuario")" method="post" id="form_SetProyectoTecnologia">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleProyectoTecnologia"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="ProyectoTecnologiaID"/>
                        <input type="hidden" id="proyectosID"/>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" id="id" />
                                <label for="exampleInputEmail1" id="nombreProyectos">@PersonalProfile.Admin.Resources.Resource.Text_UserName</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_Skills_TypeTechnology</label>
                                <select class="form-control" id="Conocimiento" data-validation="required">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
