﻿
<!-- Modal -->
<div class="modal fade" id="modalUsuarioFormacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("PostUsuarioFormacionAcademica","Usuario")" method="@FormMethod.Post" id="form_setUsuarioFormacion">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleUsuarioFormacionAcademica"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="UsuarioFormacionAcademicaID" value="@ViewBag.IdUser"/>
                                <input type="hidden" id="usuarioID" value="@ViewBag.IdUser" />
                                <input type="hidden" id="formacionAcademicaID" value="" />
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_Institution</label>
                                <input type="text" class="form-control" onKeyPress = "return soloLetras(event);" 
                                       id="instituto" name="instituto" maxlength="50" data-validation="required" data-validation-length="5-50"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_Career</label>
                                <input type="text" class="form-control" onKeyPress = "return soloLetras(event);" id="carrera" name="carrera" maxlength="50"
                                       data-validation="required" data-validation-length="5-50"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="id" />
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_StartYear</label>
                                <input type="text" class="form-control" onKeyPress = "return SoloNumeros(event);" 
                                       id="anioIngreso" name="anioIngreso" maxlength="4" data-validation="number" data-validation-length="4"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_EndYear</label>
                                <input type="text" class="form-control" onKeyPress = "return SoloNumeros(event);" 
                                       id="anioSalida" name="anioSalida" maxlength="4" data-validation="number" data-validation-length="4"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">@PersonalProfile.Admin.Resources.Resource.Tbl_Head_UserEducation_Title</label>
                                <input type="checkbox" id="titulo" name="titulo" value="0" data-validation="required"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                    <button type="submit" class="btn btn-primary" id="btn_guardar">@PersonalProfile.Admin.Resources.Resource.Btn_Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
