﻿<!-- Modal -->
<div class="modal fade" id="msjViewProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">URL Prefil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 
                <ul class="todo-list ui-sortable">
                    <li>
                        <!-- todo text -->
                        <span class="text" id="contenido"></span>
                        <!-- Emphasis label -->
                        <small class="label label-info" id="txt_urlCopiado"><i class="fa fa-clock-o"></i> URL</small>
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                                         
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@PersonalProfile.Admin.Resources.Resource.Btn_Close</button>
                <button type="button" class="btn btn-primary" id="btn-Ok">@PersonalProfile.Admin.Resources.Resource.Btn_Accept</button>
            </div>
        </div>
    </div>
</div>

